src/flows/Nov13Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass</name>
        <label>ass</label>
        <locationX>907</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>variable</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <constants>
        <name>cobstant</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>45.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>const22</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>9888.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>gj</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <description>swap 22</description>
        <name>sswap</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>88.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>decision22April</name>
        <label>decision22April</label>
        <locationX>781</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>ass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sswap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sswap</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>yesOrno</targetReference>
            </connector>
            <label>yesYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>yesOrno</name>
        <label>yesOrno</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>yesOrno</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2 version</description>
    <dynamicChoiceSets>
        <name>fg</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AddressType</picklistField>
        <picklistObject>Address</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Nov13Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nov13Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>yesOrno</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </variables>
</Flow>
